@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@300;400;500;600;700&display=swap");
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 7;
    width: 100%;
    height: 69px;
    padding: 5px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 9%);
    background: #fff;

    .imgCont {
        display: flex;
        margin: 10px;
        justify-content: center;
        div {
            margin-top: 5px;
        }
        @media (max-width: 1200px) {
            flex: 1;
        }
    }

    img {
        max-height: 27px;
        cursor: pointer;
        justify-content: c;
    }

    .subMenu {
        display: flex;
        padding-top: 11px;
        justify-content: center;
        align-items: center;
        background-color: white;
        justify-content: center;
        margin-left: 35px;
        cursor: pointer;
        .navMenu {
            position: relative;
            --b: 0.1em; /* the thickness of the line */
            --c: #103fc1; /* the color */
            list-style: none;
            padding-block: var(--b);
            background: linear-gradient(var(--c) 50%, #000 0) 0% calc(100% - var(--_p, 0%)) / 100% 200%,
                linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b) no-repeat;
            -webkit-background-clip: text, padding-box;
            background-clip: text, padding-box;
            transition: 0.3s var(--_s, 0s) linear, background-size 0.3s calc(0.3s - var(--_s, 0s));

            padding: 0px 23px;
            font-size: 18px;
            font-weight: 550;

            .navMenuAbs {
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: #fff;
                padding: 8px 28px;
                border-radius: 3px;
                font-size: 18px !important;
                transition: opacity 0.3s;
                white-space: nowrap;
                font-size: 18px;
                left: -6px;
                opacity: 0;
            }
            .navMenu:hover .navMenuAbs{
                opacity: 1;
            }

            &:hover {
                --_p: 100%;
                --_s: 0.25s;
            }
            &:hover .navMenuAbs{
              
                opacity: 1;
            }

            .active {
                font-weight: 600;
            }
        }

       

        

        @media (max-width: 1200px) {
            display: none;
        }
    }
}

.progress {
    height: 61px;
    background-color: #f2f2f2;
    position: sticky;
    top: 69px;
    left: 0;
    z-index: 1;
    @media (max-width: 1200px) {
        height: 8px;
        text-overflow: hidden;
        p {
            opacity: 0;
        }
    }
}
